/* What are we doing */

@media screen and(max-width: $desktop) {
    .section.work {
        display: none;
    }
}

.section.work {
    padding-bottom: 94px;
}

.work__list {
    display: flex;

}

.work__link {
    display: flex;
    justify-content: center;
    position: relative;

    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.0;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &::before {
        position: absolute;
        display: inline-block;
        content: "";
        width: 100%;
        height: 70px;
        bottom: 0;
        background-color: rgba(47, 48, 58, 0.8);

    }
}

.text__box {
    position: absolute;
    bottom: 27px;

}

.work__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}